<!--features-->
<section class="bg-faded" id="features">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                <h2 class="text-primary">Ações</h2>
                Algumas ações, grupos e eventos que tem um dedinho do Movimento no meio
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-4 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <div class="icon-box">
                            <em class="ion-android-chat icon-md"></em>
                        </div>
                        <h6>Startup Talk</h6>
                        <p>
                            São encontros informais feitos periodicamente (semanalmente ou quinzenalmente) onde conversamos sobre um tema específico. Tem o objetivo de aumentar o engajamento, fazer network, trocar experiências e fazer negócios.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <div class="icon-box">
                            <em class="ion-android-wifi icon-md"></em>
                        </div>
                        <h6>Speed talk</h6>
                        <p>
                            Um evento mais elaborado, com palestras ministradas por membros da comunidade, com uma pegada um pouco mais técnica, tem o objetivo de disseminar conhecimento.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <div class="icon-box">
                            <em class="ion-erlenmeyer-flask-bubbles icon-md"></em>
                        </div>
                        <h6>Startup Weekend</h6>
                        <p>
                            Movimento Startup Tocantins sempre entra como parceiro na realização dos Startup Weekends, tanto na participação, quanto na organização quanto nas mentorias :D.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <div class="icon-box">
                            <em class="ion-android-bulb icon-md"></em>
                        </div>
                        <h6>Sebrae Startup Day</h6>
                        <p>
                            Todos os anos o Movimento entra como parceiro do evento promovido pelo SEBRAE.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <div class="icon-box">
                            <em class="ion-social-bitcoin-outline icon-md"></em>
                        </div>
                        <h6>Cripto Club</h6>
                        <p>
                            Grupo de investidores e entusiastas de Bitcoin e outras criptomoedas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <div class="icon-box">
                            <em class="ion-code-working icon-md"></em>
                        </div>
                        <h6>Dev Tocantins</h6>
                        <p>
                            Grupo de Desenvolvedores do Tocantins tem membros e apoio do Movimento em seus eventos e encontros.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>