        <!--blog-->
        <section class="bg-faded" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                        <h2 class="text-primary">From Our Blog</h2>
                        <p class="lead pt-3">
                            The latest news from Comply blog.
                        </p>
                    </div>
                </div>
                <div class="row d-md-flex mt-5">
                    <div class="col-sm-4 mt-2 wow fadeIn">
                        <div class="card">
                            <img class="card-img-top" src="img/blog-1.jpg" alt="Image">
                            <div class="card-block">
                                <p class="card-text text-muted small-xl">
                                    <em class="ion-ios-calendar-outline"></em> 22h ago &nbsp;&nbsp;
                                    <em class="ion-ios-person-outline"></em> Kahtrine Kaif &nbsp;&nbsp;
                                    <em class="ion-ios-time-outline"></em> 5min read
                                </p>
                                <h5 class="card-title"><a href="#">Comply version 5.0 is available now.</a></h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="card-block text-right">
                                <a href="#" class="card-link"><strong>Read more</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2 wow fadeIn">
                        <div class="card">
                            <img class="card-img-top" src="img/blog-2.jpg" alt="Image">
                            <div class="card-block">
                                <p class="card-text text-muted small-xl">
                                    <em class="ion-ios-calendar-outline"></em> 1week ago &nbsp;&nbsp;
                                    <em class="ion-ios-person-outline"></em> John Deo &nbsp;&nbsp;
                                    <em class="ion-ios-time-outline"></em> 2min read
                                </p>
                                <h5 class="card-title"><a href="#">We celebrated our success with cake.</a></h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="card-block text-right">
                                <a href="#" class="card-link"><strong>Read more</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2 wow fadeIn">
                        <div class="card">
                            <img class="card-img-top" src="img/blog-3.jpg" alt="Image">
                            <div class="card-block">
                                <p class="card-text text-muted small-xl">
                                    <em class="ion-ios-calendar-outline"></em> 1mon ago &nbsp;&nbsp;
                                    <em class="ion-ios-person-outline"></em> Kathrine Kaif &nbsp;&nbsp;
                                    <em class="ion-ios-time-outline"></em> 10min read
                                </p>
                                <h5 class="card-title"><a href="#">Connecting virtual reality with the people.</a></h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="card-block text-right">
                                <a href="#" class="card-link"><strong>Read more</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>