        <!--blog-->
        <section class="bg-faded" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                        <h2 class="text-primary">Notícias</h2>
                        <p class="lead pt-3">
                            Últimas notícias sobre a comunidade de Startups do Tocantins
                        </p>
                    </div>
                </div>
                <div class="row d-md-flex mt-5">
                    <div class="col-sm-4 mt-2 wow fadeIn">
                        <div class="card">
                            <img class="card-img-top" src="/img/blog/blog-1.jpg" alt="Image">
                            <div class="card-block">
                                <p class="card-text text-muted small-xl">
                                    <em class="ion-ios-calendar-outline"></em> a um &nbsp;&nbsp;
                                    <em class="ion-ios-person-outline"></em>Luiz Carvalho &nbsp;&nbsp;
                                    <em class="ion-ios-time-outline"></em> 5min read
                                </p>
                                <h5 class="card-title"><a href="https://medium.com/startup-tocantins/lista-de-comunidades-brasileiras-de-startups-a6c49d20dff5">Lista de comunidades/ecossistemas Brasileiras de Startups</a></h5>
                                <p class="card-text">Resolvi fazer um pequeno post para levantar o nome de cada movimento/comunidade/Valley/Ecossistemas que existe no Brasil em um só lugar para facilitar nossas vidas, vamos lá.</p>
                            </div>
                            <div class="card-block text-right">
                                <a href="https://medium.com/startup-tocantins/lista-de-comunidades-brasileiras-de-startups-a6c49d20dff5" class="card-link"><strong>Leia mais</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2 wow fadeIn">
                        <div class="card">
                            <img class="card-img-top" src="/img/blog/blog-2.png" alt="Image">
                            <div class="card-block">
                                <p class="card-text text-muted small-xl">
                                    <em class="ion-ios-calendar-outline"></em> a algum tempo &nbsp;&nbsp;
                                    <em class="ion-ios-person-outline"></em> Luiz Carvalho &nbsp;&nbsp;
                                    <em class="ion-ios-time-outline"></em> 1min para ler
                                </p>
                                <h5 class="card-title"><a href="https://medium.com/startup-tocantins/startup-talk-como-criar-startups-de-sucesso-no-tocantins-927c482d430e">Startup Talk: Como criar Startups de Sucesso no Tocantins.</a></h5>
                                <p class="card-text">Olá, um post rápido para falar sobre nosso próximo talk. Vamos bater um papo e compartilhar experiências com que faz Startup de verdade no Tocantins.</p>
                            </div>
                            <div class="card-block text-right">
                                <a href="https://medium.com/startup-tocantins/startup-talk-como-criar-startups-de-sucesso-no-tocantins-927c482d430e" class="card-link"><strong>Leia mais</strong></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-2 wow fadeIn">
                        <div class="card">
                            <img class="card-img-top" src="/img/blog/blog-3.png" alt="Image">
                            <div class="card-block">
                                <p class="card-text text-muted small-xl">
                                    <em class="ion-ios-calendar-outline"></em> agora &nbsp;&nbsp;
                                    <em class="ion-ios-person-outline"></em> Startup TO &nbsp;&nbsp;
                                    <em class="ion-ios-time-outline"></em> 0min para ler
                                </p>
                                <h5 class="card-title"><a href="https://medium.com/startup-tocantins">Nosso Médium.</a></h5>
                                <p class="card-text">Todo nosso conteúdo está em nosso Medium, clique e confira informações sobre a comunidade, startups da região, ações, eventos e muito mais.</p>
                            </div>
                            <div class="card-block text-right">
                                <a href="https://medium.com/startup-tocantins" class="card-link"><strong>Leia mais</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>