<!--features-->
<section class="bg-faded" id="features">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                <h2 class="text-primary">Comunidades</h2>
                Essas são as comunidades que movem o ecossistema em todo o Estado.
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-3 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <a href="https://www.instagram.com/startuptocantins_/">
                            <div class="icon-box">
                                <img class="img-fluid mx-auto d-block" src="/img/comm/startupto.jpg"/>
                            </div>
                            <h6>Startup Tocantins</h6>
                        </a>
                        <p>
                            Comunidade de Startups da região central do Estado do Tocantins! | Palmas-TO
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <a href="https://www.instagram.com/153valley/">
                            <div class="icon-box">
                                <img class="img-fluid mx-auto d-block" src="/img/comm/153.jpg"/>
                            </div>
                            <h6>153 Valley</h6>
                        </a>
                        <p>
                            Comunidade de Startups da região sul do Estado do Tocantins! | Gurupi-TO
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <a href="https://www.instagram.com/chambaryvalley/">
                            <div class="icon-box">
                                <img class="img-fluid mx-auto d-block" src="/img/comm/chambary.jpg"/>
                            </div>
                            <h6>Chambary Valley</h6>
                        </a>
                        <p>
                            Comunidade de Startups da região norte do Estado do Tocantins! | Araguaína-TO
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wow fadeIn">
                <div class="card">
                    <div class="card-block">
                        <a href="https://www.instagram.com/jalapaovalley/">
                            <div class="icon-box">
                                <img class="img-fluid mx-auto d-block" src="/img/comm/jalapao.jpg"/>
                            </div>
                            <h6>Jalapão Valley</h6>
                        </a>
                        <p>
                             Rede de cooperação entre atores, interconectados e interdependentes, responsáveis pelo fomento da inovação e empreendedorismo na região central do Estado. | Palmas-TO
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
