        <section class="bg-footer" id="connect">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                        <h1>Startup Tocantins</h1>
                        <p class="mt-4">
                            <a href="https://twitter.com/StartupTO_" target="_blank"><em class="ion-social-twitter text-twitter-alt icon-sm mr-3"></em></a>
                            <a href="https://www.facebook.com/StartUpTocantins/" target="_blank"><em class="ion-social-facebook text-facebook-alt icon-sm mr-3"></em></a>
                            <a href="https://github.com/startup-tocantins/" target="_blank"><em class="ion-social-github text-github-alt icon-sm mr-3"></em></a>
                            <a href="https://instagram.com/startuptocantins" target="_blank"><em class="ion-social-instagram text-instagram-alt icon-sm mr-3"></em></a>
                        </p>
                        <p class="pt-2 text-muted">
                            &copy; 2014-2019 Startup Tocantins <br>
                        </p>
                    </div>
                </div>
            </div>
        </section>
