        <!--join-us-->
        <section class="bg-faded" id="join-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                        <h2 class="text-primary">Junte-se a nós</h2>
                        <p class="lead pt-3">
                            Junte-se a maior comunidade de Startups do Tocantins
                        </p>
                    </div>
                </div>
                <div class="row d-md-flex mt-4 text-center">
                    <div class="col-sm-4 mt-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <h5 class="card-title pt-4 text-orange">Whatsapp</h5>
                                <h3 class="card-title text-primary pt-4"><em class="ion-social-whatsapp-outline icon-lg mr-3"></em> </h3>
                                <ul class="list-unstyled join-us-list">
                                    <li>Gerar negócios e network</li>
                                    <li>Dar e receber feedbacks sobre projetos;</li>
                                    <li>Solucionar suas dúvidas e de outros membros;</li>
                                    <li><a href="/pages/regras">Leia as regras</a></li>
                                </ul>
                                <a href="/pages/regras" taget="_blank"  class="btn btn-primary btn-radius">Junte-se ao grupo</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 mt-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <h5 class="card-title pt-4 text-orange">Página no Facebook</h5>
                                <h3 class="card-title text-primary pt-4"><em class="ion-social-facebook-outline icon-lg mr-3"></em></h3>
                                             <ul class="list-unstyled join-us-list">
                                    <li>Eventos</li>
                                    <li>Comunicados</li>
                                    <li>Informações</li>
                                </ul>
                                <a href="https://www.facebook.com/StartUpTocantins/?ref=site" taget="_blank" class="btn btn-primary btn-radius">Curta nossa página</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 mt-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <h5 class="card-title pt-4 text-orange">Grupo no Telegram</h5>
                                <h3 class="card-title text-primary pt-4"><em class="ion-send-sharp icon-lg mr-3"></em></h3>
                                             <ul class="list-unstyled join-us-list">
                                    <li>Network</li>
                                    <li>Eventos de dentro e fora da comunidade</li>
                                    <li>Comunicados</li>
                                    <li>Informações</li>
                                </ul>
                                <a href="https://t.me/startupto" taget="_blank" class="btn btn-primary btn-radius">Entre no grupo</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

