<!--main section-->
<section class="bg-texture hero" id="main">
    <div class="container">
        <div class="row d-md-flex brand">
            <div class="col-md-6 hidden-sm-down wow fadeIn">
                <img class="img-fluid mx-auto d-block" src="/img/logo.png"/>
            </div>
            <div class="col-md-6 col-sm-12 text-white wow fadeIn">
                <h2 class="pt-4">Associação <b class="text-primary-light">Tocantinense de Startups</b></h2>
                <p class="mt-5">
                   <b>Impulsionando o futuro do empreendedorismo inovador no Tocantins!</b>
Nossa missão é representar, fortalecer e conectar as startups do estado, fomentando a criação, o crescimento e a sustentabilidade de negócios que transformam realidades. Queremos tornar o Tocantins um polo nacional de inovação, com base em <b>colaboração, ética e diversidade</b>, <b>aliados à alegria e transparência</b> que nos movem.
Venha fazer parte!

                </p>
                <p class="mt-5">
                    <a href="https://wa.me/5555996521600" class="btn btn-primary mr-2 mb-2">Associe-se</a>
                    <a href="https://medium.com/@startuptocantins/planos-para-associados-e-apoiadores-286263097052" class="btn btn-primary mr-2 mb-2">Benefícios</a>
                </p>
            </div>
        </div>
    </div>
</section>
