<!--header-->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top sticky-navigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="ion-grid icon-sm"></span>
    </button>
    <a class="navbar-brand hero-heading" href="/">Startup TO</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
                <a class="nav-link page-scroll" href="/#main">Startup TO <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link page-scroll" href="/#features">Ações</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link page-scroll" href="/#events">Agenda de eventos</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link page-scroll" href="/#join-us">Junte-se a nós</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link page-scroll" href="/#blog">Notícias</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link page-scroll" href="/#contact">Contato</a>
            </li>
        </ul>
    </div>
</nav>