
        <!--team-->
        <section class="bg-alt" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                        <h2 class="text-primary">Our Team</h2>
                        <p class="lead pt-3">
                            Meet our awesome team.
                        </p>
                    </div>
                </div>
                <div class="row d-md-flex mt-5 text-center">
                    <div class="team col-sm-3 mt-2 wow fadeInLeft">
                        <img src="img/team-1.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
                        <h5>John Deo</h5>
                        <p>CEO, Comply</p>
                    </div>
                    <div class="team col-sm-3 mt-2 wow fadeIn">
                        <img src="img/team-4.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
                        <h5>Kathrine Kaif</h5>
                        <p>Marketing Head</p>
                    </div>
                    <div class="team col-sm-3 mt-2 wow fadeIn">
                        <img src="img/team-2.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
                        <h5>Brandon Lee</h5>
                        <p>Lead Developer</p>
                    </div>
                    <div class="team col-sm-3 mt-2 wow fadeInRight">
                        <img src="img/team-3.jpg" alt="Male" class="img-team img-fluid rounded-circle"/>
                        <h5>Inza Fererri</h5>
                        <p>Customer Care</p>
                    </div>
                </div>
            </div>
        </section>
